body {
  background-image: url(../images/CatalinaSunset.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
  background-position: center center;
  font-family: "Englebert", cursive !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.row {
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 323px) {
  .row {
    padding-left: 10px;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}