body {
  background-image: url(../images/CatalinaSunset.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* margin: 0;
  padding: 0; */
  min-height: 100vh;
  overflow-x: hidden;
  background-position: center center;
  /* background-repeat: no-repeat; */
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  font-family: "Englebert", cursive !important;
  font-weight: 600 !important;
  font-style: normal !important;
  
}



.row {
  /* display: flex;
  flex-wrap: wrap; */
  width: 100%;
  padding: 20px;
  /* font-family: "Englebert", cursive;
  font-weight: 400;
  font-style: normal; */

}

@media screen and (max-width: 323px) {
  .row {
    padding-left: 10px;
  }
  
}

.header {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 5% !important; */
  position: fixed;
  /* height: 4rem; */
  z-index: 1000;
  /* background-color: blue; */
  /* padding-top: 1rem; */

}

.header-title {
  color: #16275b;
}

/* Had to override the Mui navbar font*/
.MuiListItemText-primary {
  font-family: "Englebert", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 1.5em !important;
  color: #674486;

}

/* Had to override the Mui navbar background color*/
.MuiDrawer-paper {
  background-color: #feb29d !important;
  opacity: .9;
  /* border-top-left-radius: 10%;
  border-bottom-left-radius: 10%; */
  border-radius: 10%;
}

.pic-container {
  max-width: 25% !important;
  /* padding-left: 15%; */
  margin: 3%;
  padding-top: 4rem;
  position: sticky;
}

.profileImg {
  border-radius: 50%;
  max-width: 100%;
  background-color: rgb(255, 215, 0, .6);
  box-shadow: rgb(255, 215, 0, .6)  0 0 1.6rem 1rem;
}

.profileImg:hover {
  transform: rotate(360deg) scale(.5);
  transition: transform .5s;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  /* width: 100%; */
}

.name {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal; 
  font-size: 4.5em;
  animation: glow 1.5s ease-in-out infinite alternate;
  color: #654284;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #8504f5;
  }
  to {
    text-shadow: 0 0 30px #ff2483, 0 0 10px;
  }
}

.title {
  direction: rtl;
  position: relative;
}

.dev {
  color: #644487;
}

.jr-status {
  color: #ff2483;
}

.blinking-underscore {
  display:inline;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  
}

.about-me, .portfolio, .resume {
  background-color: rgb(22, 39, 91, .6);
  padding: .8em;
  border-radius: 2em;
  transform: rotate(-5deg);
  margin-top: 1em;
  animation: slideIn .5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.portfolio {
  transform: rotate(5deg);
}

@media screen and (max-width: 380px) {
  .about-me {
    margin-left: 3em;
    font-size: .8em;
  }
  
}

.about-me-p {
  color: #e28743;
  font-size: 1.3em;
  text-shadow: 5px 5px 5px rgb(112, 2, 2);
}


.p-card {
  padding: .3em;
  margin: .8em;
  opacity: .7;
  background-color: #d57ea5 !important;
}

.coding-info {
  width: 75%;
}

.resume {
  background-color: transparent;
}

.resume-card {
  background-color: rgb(22, 39, 91, .6);
  color: #b58bdf;
  text-shadow: 5px 5px 5px #412b63;
  padding: 1em;
  border-radius: 2em;
  margin-bottom: .5em;
  overflow: hidden;
}

.resume-card h3,
.resume-card h6,
.resume-card p,
.resume-card li {
  transition: all .3s ease-in-out;
  display: inline-block;
  word-wrap: break-word;
}

.resume-card h3:hover,
.resume-card h6:hover,
.resume-card p:hover,
.resume-card li:hover {
  transform: scale(1.5);
}

