.footer {
  bottom: 0;
  display: flex;
}

.footer-icons {
  height: 50px;
  margin: 0;
  padding: 0;
  flex: 1;
}

.socials {
  font-size: 2em;
  padding: .1em;
  color: #16275b;
  transition: transform .5s ease-in-out, color .5s ease-in-out !important;
}

.socials:hover{
  transform: scale(1.5) !important;
  color: red;
}

.madeWithLove {
  color: white;
}