.contact {
  margin-top: 1em;
  bottom: 5em;
  /* margin-left: 1.5em; */
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.job-search,
.socials-check {
  margin-right: .5em;
  flex: 1;
  /* height: 75%; */
}

.job-search,
.socials-check,
.contact-box {
  background-color: rgb(213, 126, 165, .6);
  border-radius: 1.5em;
}

.job-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.job-interest {
  margin-bottom: 1em;
}

#first-interest {
  margin-top: .5em;
}

.socials-title {
  text-align: center;
  margin-top: .5em;
}

.flex-socials {
  display: flex;
}

.social-icons {
  margin-left: 1em;
  margin-top: .5em;
  font-size: 2em;
  text-align: center;
}

.social-icons a {
  transition: font-size .2s ease-in-out;
}

.social-icons a:hover {
  font-size: 1.5em;
}

.arrow {
  /* margin-top: -20%; */
  height: 75%;
}

.contact-box {
  margin-top: .5em;
  margin-left: .6em;
  /* margin-right: .8em; */
}

form {
  border-radius: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#form-section {
  margin-left: .1em;
}

.contactMe {
  margin-top: .3em;
  padding-top: .5em;
}

.messageMe {
  text-decoration: underline;
}

#contact-text {
  padding: 0 .5em;
}

.thanks {
  text-align: center;
  margin-bottom: -1em;
  padding: 0 .5em;
}

.sendButton {
  background-color: black;
  border: none;
  margin-bottom: .5em;
  height: 2em;
}


@media screen and (max-width: 472px) {
  .flex-socials {
    flex-direction: column;
  }
  
  .arrow {
    transform: rotate(90deg);
  }

  .social-icons {
    margin-left: .1em;
  }

  form {
    text-align: center;
}
}


