.resume-card {
  background-color: rgb(22, 39, 91, .6);
  color: #b58bdf;
  text-shadow: 5px 5px 5px #412b63;
  padding: 1em;
  border-radius: 2em;
  margin-bottom: .5em;
  overflow: hidden;
  animation: slideIn .5s ease-in;
  transition: all .5s ease-in-out;
}

.resume-card:hover {
  transform: scale(1.25);
  background-color: rgb(22, 39, 91, .9);
}

.job-years {
  border-top: solid 2px;
  padding-top: 1em;
}

.job-title {
  font-weight: bold;
  font-size: 1.2em;
}

li, i {
  font-weight: normal;
}

.resume-download {
  text-align: center;
  margin: 1em;
}

.download-button {
  background-color: #e28743;
  border-radius: .5em;
  transition: all .5s ease-in-out;
}

.download-button:hover {
  transform: scale(1.5);
  background-color: red;
}

.skill-title {
  font-weight: 600;
  /* text-decoration: underline; */
  text-align: center;
  border-bottom: solid 2px;
  padding-bottom: .2em;
}

.all-skills {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  /* align-items: center; */
  flex-wrap: wrap;
  /* margin-right: 3em; */
  /* height: 75%; */
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  align-items: center;
  margin-left: -2em;
  margin-bottom: 3em;
  height: 75%;
}

#fields-list {
  margin: -8px 0px 32px -32px;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .resume-card {
    margin-left: 1em;
  }

  .resume-card:hover {
    transform: scale(1.06);
    background-color: rgb(22, 39, 91, .9);
  }

  .all-skills {
    flex-wrap: wrap;
    margin-right: 0;
  }

  .skills-list {
    margin-left: -3.5em;
  }

  #personal-list {
    width: 96%;
  }
}

@media screen and (max-width: 409px) {
  .skills {
    width: 100%;
  }
}

@media screen and (max-width: 345px){
  #personal-list {
    width: 125%;
  }

  #programming-list {
    justify-content: space-between;
    width: 100%;
  }
}