.resume-card {
  background-color: rgb(22, 39, 91, .6);
  color: #b58bdf;
  text-shadow: 5px 5px 5px #412b63;
  padding: 1em;
  border-radius: 2em;
  margin-bottom: .5em;
  overflow: hidden;
  animation: slideIn .5s ease-in;
}

#education-section,
#experience-section,
#skills-section {
  transition: all .5s ease-in-out;
}

#education-section:hover,
#experience-section:hover,
#skills-section:hover {
  transform: scale(1.25);
  background-color: rgb(22, 39, 91, .9);
}

@media screen and (max-width: 768px) {

  #education-section,
  #experience-section,
  #skills-section {
    margin-left: 1em;
  }

  #education-section:hover,
  #experience-section:hover,
  #skills-section:hover {
    transform: scale(1.06);
    background-color: rgb(22, 39, 91, .9);
  }
}

.resume-download {
  text-align: center;
  margin: 1em;
}

.download-button {
  background-color: #e28743;
  border-radius: .5em;
  transition: all .5s ease-in-out;
}

.download-button:hover {
  transform: scale(1.5);
  background-color: red;
}